@charset "utf-8";
/* Simple fluid media
   Note: Fluid media requires that you remove the media's height and width attributes from the HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/
img, object, embed, video {
	max-width: 100%;
}
/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
	width:100%;
}
/*{background-color:yellow; color:black;}
/*
	Dreamweaver Fluid Grid Properties
	----------------------------------
	dw-num-cols-mobile:		5;
	dw-num-cols-tablet:		8;
	dw-num-cols-desktop:	10;
	dw-gutter-percentage:	25;
	
	Inspiration from "Responsive Web Design" by Ethan Marcotte 
	http://www.alistapart.com/articles/responsive-web-design
	
	and Golden Grid System by Joni Korpi
	http://goldengridsystem.com/
*/

/* Mobile Layout: 480px and below. */

.gridContainer {
	margin-left: auto;
	margin-right: auto;
	width: 87.36%;
	padding-left: 1.82%;
	padding-right: 1.82%;
}
#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	border:solid 1px black;
	background-color:#fff;
}
ul,ol {
	list-style:none;}
	
	#topsection{
background-color: yellow;
height: 120px; /*Height of top section*/
border-top:solid 2px #666;
width:100%;
}


#topsection .logo{
	position: absolute;
	margin-left: 20px;
	/*left:50px;*/
	top: 10px;
	z-index: 1;
	width: 100px;
	height: 8em;
	background-attachment: scroll;
	background-color: transparent;
	background-image: url(../img/logo_small_tcm6-448.gif);
	background-repeat: no-repeat;
	background-position: 0% 0%;
}
.MDC{
	color: black;
	display: inline;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.2em;
	position: absolute;
	margin-left: 120px;
	/*left:13%*/
	line-height: 1.5em;
	width: auto;
	text-decoration: none;
	font-weight: bold;
	padding-top: 26px;
	padding-right: 0;
	padding-bottom: 15px;
	padding-left: 22px;
}
.MDC em{
	display:block;
	font-style:normal;
	font-size:1.6em;
	font-weight:normal;
	line-height:1em;
	color:black;
	font-weight:bold;

}

#search{
	float: right;
	width: 16em;
	border: none;
}
#search ul{
	list-style:none outside none;
	margin:0;
	padding:0;
}
#search li{
margin:0; padding:0;
	display:inline;
	position:relative;
	z-index:3;
	font: 1.0em Verdanna,Arial,Helvetica,sans-serif;
	color:#fff;
}
#search li a{
	color:black;
	text-decoration:none;
}
#search li a:hover{
	text-decoration:underline;
}
#search fieldset{
	text-align: center;
	margin: 0pt 0pt 3px;
	padding: 0.1em 0.4em 0.4 em;
	background-color: rgb(102, 102, 102);
	display: block;
	position: relative;
	z-index: 3;
	border: none;
}
#fieldset{
	border:medium none;
}
#search .textfield{
	width: 10em;
	border-width: 1px;
	border-style: solid;
	border-color: rgb(0,0,0), rgb(192,192,192),rgb(192,192,192),rgb(0,0,0);
}
#search .button{
	width: 4.5em;
	padding: 0.3em 0.2em 0.2em;
	background-color: #000;
	border-width: 0px;
	border-style: none;
	color: #fff;
	font: 1.1em;
	margin-bottom: 2px;
	margin-top: 1px;
}
#contentcolumn{
background-color:yellow;
color:black;	
}
a{color:black;}
a:hover{font-weight:bold}
nav li, nav li a, nav li a:visited{background-color:yellow;color:black;}

#aTool ul li, #aTool ul li a{background-color:yellow;color:black;}
a:visted, a:hover{ color:black}

/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 481px) {
.gridContainer {
	width: 90.675%;
	padding-left: 1.1625%;
	padding-right: 1.1625%;
}
#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#topsection{
background-color:yellow;
height: 120px; /*Height of top section*/
border-top:solid 2px #666;
width:100%;
}
}

/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 769px) {
.gridContainer {
	width: 95.2%;
	max-width: 1232px;
	padding-left: 0.9%;
	padding-right: 0.9%;
	margin: auto;
	height:100%;
}
#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0px;
	width: 100%;
	display: block;
	height: 100%;
}

/*======================================
	Layout==========*/
	
#topsection{
background-color: yellow;
color:yellow;
height: 120px; /*Height of top section*/
border-top:solid 2px #666;
width:100%;
}

#topsection h1{
	margin: 0;
	padding-top: 15px;
}

#contentwrapper{
	float: left;
	width: 100%;
	height: 100%;
	background-color: #282828;
	margin: 0;
	padding: 0;
/*clear:both;*/
}

#contentcolumn{
margin:0;
margin-top:-38px;
margin-right: 220px; /*Set right margin to RightColumnWidth*/
height:100%;
background-color:yellow;
color:black;
}

#rightcolumn{
	float: left;
	width: 220px; /*Width of right column in pixels*/
	margin-left: -220px; /*Set left margin to -(RightColumnWidth) */
	background: #282828;
	color: #fff;
	height:100%;
}

.MenuR, .MenuR a{
	display: block;
	color: #fff;
	text-decoration:none;
	height:100%
}

#footer{
clear: left;
width: 100%;
background: yellow;
color: black;
text-align: center;
padding: 4px 0;
}

#footer a{
color: black;
}
.address li{
	display:inline;
	font-size:12px;
	color:black;
}
#footerlinks li{
	display:inline;
}
#footerlinks li a{
	display:inline;
	color:black;
	text-decoration:none;
	font-size:10px;
}
#footerlinks li a:hover{
	color:#b0b1b4;
}
#equalop {
	font-size: 10px;
	text-align: center;
	margin-right: 20%;
	margin-left: 20%;
	font-weight: bold;
}
.innertube{
margin: 10px; /*Margins for inner DIV inside each column (to provide padding)*/
margin-top: 0;
}

#topsection .logo{
	position: absolute;
	margin-left: 20px;
	/*left:50px;*/
	top: 10px;
	z-index: 1;
	width: 100px;
	height: 8em;
	background-attachment: scroll;
	background-color: transparent;
	background-image: url(../img/logo_small_tcm6-448.gif);
	background-repeat: no-repeat;
	background-position: 0% 0%;
}
.MDC{
	color: black;
	display: inline;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.2em;
	position: absolute;
	margin-left: 120px;
	/*left:13%*/
	line-height: 1.5em;
	width: auto;
	text-decoration: none;
	font-weight: bold;
	padding-top: 26px;
	padding-right: 0;
	padding-bottom: 15px;
	padding-left: 22px;
}
.MDC em{
	display:block;
	font-style:normal;
	font-size:1.6em;
	font-weight:normal;
	line-height:1em;
	color:black;
	font-weight:bold;

}

#search{
	float: right;
	width: 16em;
	border: none;
}
#search ul{
	list-style:none outside none;
	margin:0;
	padding:0;
}
#search li{
margin:0; padding:0;
	display:inline;
	position:relative;
	z-index:3;
	font: 1.0em Verdanna,Arial,Helvetica,sans-serif;
	color:yellow;
}
#search li a{
	color:black;
	text-decoration:none;
}
#search li a:hover{
	text-decoration:underline;
}
#search fieldset{
	text-align: center;
	margin: 0pt 0pt 3px;
	padding: 0.1em 0.4em 0.4 em;
	background-color: rgb(102, 102, 102);
	display: block;
	position: relative;
	z-index: 3;
	border: none;
}
#fieldset{
	border:medium none;
}
#search .textfield{
	width: 10em;
	border-width: 1px;
	border-style: solid;
	border-color: rgb(0,0,0), rgb(192,192,192),rgb(192,192,192),rgb(0,0,0);
}
#search .button{
	width: 4.5em;
	padding: 0.3em 0.2em 0.2em;
	background-color: #000;
	border-width: 0px;
	border-style: none;
	color: #fff;
	font: 1.1em;
	margin-bottom: 2px;
	margin-top: 1px;
}
h1{
	font-size: 60px;
	font-family: "Arial Narrow", Arial, helvetica, sans-serif;
	font-weight: lighter;
	line-height: normal;
}
img.HoverPlay {
	width:449px;
	height:299px;
	background-image:url(../img/YouTubeIMAGE.jpg);
	background-position:-0px 0px;}
img.HoverPlay:hover{
	width:449px; height:299px;
	background-position:0px -306px;
	}	
	
	
	ul.column{
	font-size: 1.2em;
	margin: 10px 0;
	padding: 0;
	list-style: none;
	width: 100%; /* 100% */
	border-top: 1px solid #ddd;
}
ul.column li {
	/*float: none;  left */
	/* background: #f0f0f0; */
	width: 100%;
	padding: 10px 0;
	margin: 0;
	border-bottom: 1px solid #ddd;
	display:block;
}

/* Fixed Column CSS */
ul.column li .imgblock {
	font-weight: bold;
	/*float: none;  left */
	width:189px;
	padding: 0px;
	}
ul.column li .imgblock img {
	padding: 5px;
/* 	margin-bottom: 2px; */ 
	background: #fff;
	border: 1px solid #ccc;
}

/* Liquid Column CSS */
ul.column li .detail{
	padding-left: 0px; /* 190px */
	margin-top: 0px; /* -125px */
}

/* Heading and Paragraphs CSS */
ul.column li h2, ul.column li p {
	margin: 0px 0;
	padding: 0px 0;
	}

/* Bullet List */
ul.column li ul.specs li {
	float: none;
	margin: 0 5px 0 -40px;
	padding: 0;
	list-style: none;
	border: 0;
	background: none;
	width: auto; /* auto */
}

/* Every other list */
ul.column li.even { background: #fff; }
.JobTitle {
	color: #808080;
	margin-top: -10px;
	margin-bottom: 15px;
	font-size:18px;
}
.ClassBlock {
	background-color: #000000;
	color: #FFFFFF;
	font-size: 32px;
	padding:15px;
	padding-left: 10px;
	margin-bottom: 5px;
	margin-top: 5px;
	/* clear: both;  */
	text-transform: uppercase;
	}

	
nav li a, nav li a:visited {
    color: black;
    text-decoration: none;
    font-size: 16px;
}	

nav li {
    display: block;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: yellow;
    /*: center;*/
    color: black;
    border: 2px solid rgb(40, 40, 40);
}
#aTool ul li {
    background-color: yellow;
    color: black;
    text-align: right;
}
a{color:black;}
a:hover{font-weight:bold;
		color:black;
		}	
}

