@charset "UTF-8";
/* CSS Document */

body {
	margin: 0px;
	padding: 0px;
	font-family: Arial, Helvetica, sans-serif;
	background-color:#000;
}
.bluebackground {
	background-color: #000;
	border-right:#333 2px solid;
}
.TDBODYCONTENT {
	padding: 0px;
	background-color:#000;
	color:#FF0;
	font-weight:bold;
}
.TDBODYCONTENT h1 {
	margin: 0 0 20px;
	padding-top:20px;
	padding-left:15px;
	padding-bottom:15px;
	text-align: left;
	font-size:3.2em;
	border-bottom:solid 1px #FF0;
}
h1 small {
			color:#ff0;
			font-size: 0.35em;
			text-shadow: none;
			display: block;
			font-family: arial, helvetica, san-serif;
}
.TBODYCONTENT h2 {

	padding-left:15px;
	padding-right:15px;

}

h3, h4 {
	padding-left:15px;
	padding-right:15px;
	}
p {
	padding-left:15px;
	padding-right:15px;
	line-height: 1.5em;
	text-align: justify;
/*	padding-bottom:15px;*/
	}
.SlideshowContainer{
	margin-top:15px;
	margin-bottom:15px;}

/*ACCESSIBLE TOOLBAR STYLES*/
#BottomToolbar {
	height: 50px;
	width: 100%;
	position: fixed;
	left: 0px;
	bottom: 0px;
	background-color: #000;
	background: -moz-linear-gradient(top, #000000 0%, #000000 50%, #000000 51%, #000000 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#000), color-stop(50%,#000), color-stop(51%,#000), color-stop(100%,#000));
	background: -webkit-linear-gradient(top, #000000 0%,#000000 50%,#000000 51%,#000000 100%);
	background: -o-linear-gradient(top, #000000 0%,#000000 50%,#000000 51%,#000000 100%);
	background: -ms-linear-gradient(top, #000000 0%,#000000 50%,#000000 51%,#000000 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=0 );
	background: linear-gradient(top, #000000 0%,#000000 50%,#000000 51%,#000000 100%);
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #333;
}
#BottomToolbar ul {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height:auto;
	float: left;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #333;
	list-style: none;
	font-family: Arial, Helvetica, sans-serif;
	line-height:normal;
}
#BottomToolbar ul li {
	height:auto;
	margin: 0px;
	padding: 0px;
	float: left;
	position: relative;
}
#BottomToolbar ul li a{
	height:auto;
	padding: 10px;
	float: left;
	width:100px; /*Originally 16px*/
	text-decoration: none;
	color: #Ff0;
	position: relative;
	font-weight:bold;
	font-size:14px;
	vertical-align: middle;
	text-align:center;
	text-transform: uppercase;
	text-indent:10px;
}
html #BottomToolbar ul li a:hover{
	color: #333333;
	background-color:#ff0;
	border-left:solid 0px #bbbbbb;
	border-right:solid 0px #bbbbbb;
	border-top:solid 5px #333333;
}
html #BottomToolbar ul li a:active{
	border-top:solid 5px #000;
}
#BottomToolbar ul li a img {
	/*padding: 5px;*//*Originally 16px*/
	border-style: none;
	text-decoration: none;
	margin-bottom:2px;
}

/*| Styles for Horizontal jQuery Navigation Bar |
=====================================================*/
#HorizontalNavBarColor{
	background-color:#333;
}
.jqueryslidemenu{
	width:960px;
	height:1%;
	font: bold 12px Verdana;
	padding-left: 0px; /*offset of tabs relative to browser left edge*/
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #333;
}

.jqueryslidemenu ul{
margin: 0;
padding: 0;
list-style-type: none;
}

/*Top level list items*/
.jqueryslidemenu ul li{
position: relative;
display: inline;
float: left;
}

/*Top level menu link items style*/
.jqueryslidemenu ul li a{
	display: block;
	background-color:#333333;
	padding: 3px 10px 3px 10px;
	margin-right: 0px; /*spacing between tabs*/
	border-right: 1px solid #fff;
	border-bottom-width: 0;
	color: #ff0;
	text-decoration: none;
	font-size:12px;
}

.jqueryslidemenu ul li a:hover{
	background-color:#000;
	color: #ff0;
}
	
/*1st sub level menu*/
.jqueryslidemenu ul li ul{
position: absolute;
left: 0;
display: block;
visibility: hidden;
border-top: 1px solid white;
z-index:100;
}

/*Sub level menu list items (undo style from Top level List Items)*/
.jqueryslidemenu ul li ul li{
display: list-item;
float: none;
}

/*All subsequent sub menu levels vertical offset after 1st level sub menu */
.jqueryslidemenu ul li ul li ul{
top: 0;
}

/* Sub level menu links style */
.jqueryslidemenu ul li ul li a{
	font: normal 13px Verdana;
	width: 160px; /*width of sub menus*/
	color: #ff0;
	padding: 4px 5px;
	margin: 0;
	border-top-width: 0;
	border-bottom: 1px solid white;
	border-left:1px solid white;
	background-color:#333;
}

.jqueryslidemenu ul li ul li a:hover{ /*sub menus hover style
background: #eff9ff;*/
	background-color:#000;
	font-weight:bold;
	color: #FF0;
}

/* ######### CSS classes applied to down and right arrow images  ######### */

/*.downarrowclass{
position: absolute;
top: 7px;
right: 5px;
}*/

/*.rightarrowclass{
position: absolute;
top: 5px;
right: 5px;
}*/

/*Style for Vertical Navigation Links
======================================================
*/
.content {
	background-color:#000;
	padding:0px;
	border-right:0px solid #ff0;
	font-family:Arial, Helvetica, sans-serif;
	width:160px;
}
/*.content a:hover{
	background-color:#fff;
	}*/
#content_2, #content_3 {
	/* [disabled]display:none; */
}

.content ul {
	margin:0px;
/*	padding:0px 5px 0px 5px;*/
	padding:0px 5px 0px 5px;
	list-style:none;
}
/*.content ul a:hover{
	background-color:#ffffff;
	}*/
.content ul li {
	display:block;
	list-style:none;
	border-bottom:1px solid #333;
	padding-top:10px;
	padding-bottom:10px;
	font-size:14px;
	color:#fff;
}
/*.content ul li:hover{
	background-color:#FC0;
	color:#000;
	}*/
	
.content ul li:last-child {
	border-bottom:none;
}
/*Styles for the links and text size*/
.content ul li a {
	display:block;
	/* [disabled]font-size:12px; */
	font-weight:bold;
	text-decoration:none;
	color:#FF0;
}
.content ul li a small {
	color:#8b959c;
	font-size:9px;
	text-transform:uppercase;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	position:relative;
	left:4px;
	top:0px;
}
.content ul li a:hover {
	/*background-color:#FC0;*/
	color:#FC0;
	padding-left: 5px;
}
.content ul li a:hover small {
	color:#baae8e;
}

/*--|START OF FOOTER SECTION|--*/
.footer, .footer a {
	background-color: #333333;
	clear: both;
	color: #ff0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding: 0.7em;
}

.bottomenu {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #FF0;
	background-color: #000;
}
.bottomenu a:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 7pt;
	color: #003366;
	text-decoration: underline;
}
.bottomenu a:visited {
	font-family: Arial, Helvetica, sans-serif;

	font-size: 7pt;
	color: #003366;
	text-decoration: underline;
}
.bottomenu a:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 7pt;
	color: #0066ff;
	text-decoration: none;
}

/*SEARCH FORM STYLES*/
#searchform #xSearchBar {
	border: 2px solid #0066ff;
	height: 50px;
	width: 350px;
	/* [disabled]padding: 5px; */
	font-size: 36px;
	font-family: Tahoma, Geneva, sans-serif;
	color: #0066ff;
	text-decoration: none;
	vertical-align: middle;
	padding-left:65px;
	background-color: #FFF;
	background-image: url(../Images/icons/Search-icon.png);
	background-repeat: no-repeat;
	background-position: 10px center;
	float:left;
}
#searchform {
	text-align: left;
	background-color: #f0f0f0;
	border: 1px solid #c3c3c3;
	height: 55px;
	padding: 10px;
	width: auto;
}
#searchform #xSearchButton {
	font-size: 36px;
	font-family: Tahoma, Geneva, sans-serif;
	color: #FFF;
	text-decoration: none;
	vertical-align: middle;
	background-color: #0066ff;
	border: 1px solid #0066ff;
	height: 55px;
	margin-left: 10px;
	float:left;
}

/*END OF SEARCH FORM*/

/*STAR OF HIDE IMAGE STYLE*/
#HideImagesForm {
	background-color: #F0F0F0;
	border: 1px solid #C3C3C3;
	padding: 10px;
	font-family: Arial, Helvetica, sans-serif;
}
#HideImagesForm label #hidebutton {
	border: 1px solid #C3C3C3;
	background-color: #F00;
	padding: 10px;
	color: #FFF;
	font-size: 14px;
	text-transform: uppercase;
	text-decoration: none;
	cursor:pointer;
}
#HideImagesForm label #hidebutton:hover {
	border: 1px solid #C3C3C3;
	background-color: #C3C3C3;
	cursor:pointer;
}
#HideImagesForm label #showbutton {
	border: 1px solid #C3C3C3;
	background-color: #0066ff;
	padding: 10px;
	color: #FFF;
	font-size: 14px;
	text-transform: uppercase;
	text-decoration: none;
	cursor:pointer;
}
#HideImagesForm label #showbutton:hover {
	border: 1px solid #C3C3C3;
	background-color: #C3C3C3;
	cursor:pointer;
}
/*END OF HIDE IMAGE STYLE*/

/*START OF CONTRAST STYLE USING HIDEIMAGE STYLE*/
#HideImagesForm label .GeneralFormDesign{
	padding: 10px;
	background-color: #0066ff;
	font-size: 14px;
	text-transform: uppercase;
	text-decoration: none;
	color: #FFF;
	border: 1px solid #c3c3c3;
}
#HideImagesForm label .GeneralFormDesign:hover{
	background-color: #ffcc33;
	color: #000;
	cursor:pointer;
}
#HideImagesForm label .GeneralFormDesign:active{
	background-color:#c3c3c3;
}
/*END OF CONTRAST FORM STYLE*/

/*JQUERY FADING SLIDESHOW*/
#featured {
	margin: 0 auto;
	width: 700px;
	height: 276px;
	overflow: hidden;
	background-color: #009cff;
	background-image: url('../Images/icons/loading.gif');
	background-repeat: no-repeat;
	background-position: center center;
}
	
/* CONTAINER */
div.orbit { 
	width: 1px; 
	height: 1px;
	position: relative; 
	-moz-box-shadow: 0 0 10px rgba(0,0,0,.25); 
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,.25);  
	overflow: hidden; 
}
div.orbit img { 
	position: absolute; 
	top: 0; 
	left: 0; 
}
div.orbit a img { 
border: none; 
}

/* TIMER */
div.timer { 
	width: 40px; 
	height: 40px; 
	overflow: hidden; 
	position: absolute; 
	top: 10px; 
	right:10px; 
	opacity: .6; 
	cursor: pointer; 
	z-index: 1001; 
}
span.rotator { 
	display: block; 
	width: 40px; 
	height: 40px; 
	position: absolute; 
	top: 0; 
	left: -20px; 
	background: url('../Images/icons/rotator-black.png') no-repeat; 
	z-index: 3; 
}
span.mask { 
	display: block; 
	width: 20px; 
	height: 40px; 
	position: absolute; 
	top: 0; 
	right: 0; 
	z-index: 2; 
	overflow: hidden; 
}
span.rotator.move { left: 0; }
span.mask.move { 
	width: 40px; 
	left: 0; 
	background: url('../Images/icons/timer-black.png') repeat 0px 0px;  
}
span.pause { 
	display: block; 
	width: 40px; 
	height: 40px; 
	position: absolute; 
	top: 0; left: 0px; 
	background: url('../Images/icons/pause-black.png') no-repeat; 
	z-index: 4; 
	opacity: 0; 
}
div.timer:hover span.pause,
span.pause.active, 
div.timer:hover span.pause.active { opacity: 1; }

/* CAPTIONS */
div.caption { 
	background: #000; 
	background: rgba(0,0,0,.6); 
	width: 100%; 
	z-index: 5; /*10*/
	position: absolute; 
	bottom:-100px; 
	color: #ff0; 
	padding: 8px 0; 
}
div.caption span { 
	padding: 0 10px; 
	font-size: 14px;
	font-weight:bold;
	text-shadow: 0px 1px 0px rgba(0,0,0,.8); 
	margin: 0; 
}
.orbit-caption { display: none; }

/* DIRECTIONAL NAV */
div.orbit:hover div.slider-nav { display: block; }
div.slider-nav { display: none; }
div.slider-nav span { 
	width: 33px; 
	height: 33px; 
	text-indent: -9999px; 
	position: absolute; 
	z-index: 1000; 
	top: 43%; 
	cursor: pointer; 
}
div.slider-nav span.right { background: url('../Images/icons/right-arrow.png'); right: 10px; }
div.slider-nav span.left { background: url('../Images/icons/left-arrow.png'); left: 10px; }   

/* BULLET NAV */
.orbit-bullets { 
	position: absolute; 
	z-index: 10; 
	list-style: none; 
	top: 10px; 
	left: 7px; 
	margin: 0; 
	padding: 0; 
}
.orbit-bullets li { 
	float: left; 
	margin-left: 5px; 
	cursor: pointer; 
	color: #999; 
	text-indent: -9999px; 
	background: url('../Images/icons/bullets.png') no-repeat; 0 0; 
	width: 7px; 
	height: 7px; 
	overflow: hidden; 
}
.orbit-bullets li.active { 
color: #222; 
background-position: -7px 0; 
}

/*Style settings layout for Staff=======================================================*/
#StaffBodyWrapper{
	padding-left:15px;
	padding-bottom:15px;	
}
#StaffWrapper {
	width:800px;
	height:250px;
	border: solid 1px #B4af91;
	background-color:black;
	margin-left:15px;
}
#StaffImg {
	width:200px;
	height:250px;
	float: left;
}
#StaffName {
	width:570px;
	height:50px;
	float:left;
/*	background-color:#333;*/
	color:#FF0;
	line-height: 50px;
	clear: none;
	padding-left: 15px;
	padding-right: 15px;
	font-weight: bold;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 24px;
	text-decoration: none;
	text-transform: uppercase;
	text-align: left;
}

.A, .B, .C, .D, .E, .F, .G, .H, .I {
	background-color:#000;
}

#StaffInfo {
	width:570px;
	height:auto;
	float:right;
	padding:15px;
	font-size:14px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight:normal;
	color:yellow;
	background-color:black;
}
.JobTitle {
	font-family:Verdana, Geneva, sans-serif;
	font-size:18px;
	font-weight:bold;
}
#JobCategory {
	/*	font-family:Verdana, Geneva, sans-serif;*/
	font-family:Helvetica;
	text-align:left;
	text-transform: uppercase;
	text-decoration: none;
	padding-left:15px;
	clear: both;
	float: none;
	font-size: 28px;
	font-weight: bold;
	padding-top: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	margin-top: 15px;
	margin-bottom: 15px;
	border-bottom-width: thick;
	border-bottom-style: solid;
	border-bottom-color: #193441;
}
#Seperator {
	
	padding:15px;
	clear:both;
	}


#PositionsList ul
{
	font-family:Verdana, Geneva, sans-serif;
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: left;
}

#PositionsList ul li {
	display: block;
	padding-top:5px;
	padding-bottom:5px;
}

#PositionsList ul li a
{
text-decoration: none;
color: yellow;
font-size:16px;
}

#PositionsList ul li a:hover
{
	font-weight:bold;
	color: yellow;
	text-decoration: underline;
}